@import 'vendor/classes';
@import 'vendor/dark';
@import 'vendor/misc';
@import 'vendor/auth';

@import 'misc/colors';
@import 'misc/fonts';
@import 'misc/mixins';
@import 'misc/breakpoints';

@import 'components/navbar';
@import 'components/alerts';
@import 'components/buttons';
@import 'components/modals';
@import 'components/inputs/text';
@import 'components/dashboard';
@import 'components/notes';
@import 'components/tv';
@import 'components/statuses';
@import 'components/specifities';
@import 'components/badges';
@import 'components/cards';
@import 'components/chips';
@import 'components/forms';
@import 'components/infobox';
@import 'components/timepicker';
@import 'components/tables';
@import 'components/breadcrumbs';
@import 'components/comments';
@import 'components/canban';
@import 'components/tasks';
@import 'components/file';
@import 'components/riports';
@import 'vuetify_overrides';

@media print {
    .hidden--print {
        display: none !important;
    }
}

.row--read {
    background-color: #EFF1F2;
}
.roles--container {
    display: flex;
    margin-left: 24px;
    overflow: scroll;
}

.from--alt {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #6F787C;
}

body.tox-dialog__disable-scroll {
    max-height: 100vh !important;
}

.v-btn:before {
    opacity: 0 !important;
}

.v-btn {
    .v-ripple__container {
        display: none;
    }
}
.dates--container {
    flex-direction: column;
    display: flex;
    position: sticky;
    z-index: 10;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    width: 74px;
}

.dates {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80px;
    width: 100%;
    padding: 12px;

    p {
        margin-bottom: 5px !important;
    }

}

.date-col {
    border-bottom: 1px solid #c2d7df;
    border-right: 1px solid #c2d7df;
    border-left: 1px solid #c2d7df;
    background-color: white;

    &.first {
        border-top: 1px solid #c2d7df;
    }
}