.infobox {
    @include flex-column();
    gap: 4px;
    background: $blue_trimary;
    padding: 10px;
    border-radius: 4px;
    flex: none;
    order: 1;
    margin: 30px 0px;

    &__title {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.1px;
        color: $black_secondary;
    }

    &__body {
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.4px;
        color: $black_secondary;
        p {
            margin: 0;
        }
    }
}

.gray_box {
    background: $gray;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding: 9px 18px;

    h1 {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $black;
        margin: 0;
        font-weight: bold;
    }

    p {
        font-style: normal;
        font-weight: normal;
        margin: 0!important;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: $black;
    }
}
