.print {
    &--logo {
        max-width: 50px;
        position: absolute;
        top: 20px;
        left: 20px;
        margin-bottom: 50px;
        &-bigger {
            margin-top: 60px;
            max-width: 370px;
        }
    }
    &--toc{
        height: 100vh;
        ul{
            list-style-type: none;
        }
    }
    &--chart{
    }
    &--page {
        padding: 90px 15px 0px 15px;
        position: relative;
        background-color: white;

        h1 {
            color: #01667d;
            font-size: 20px;
            margin-bottom: 10px;
        }

        h2 {
            color: #01667d;
            font-size: 16px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }

        table {
            margin: 20px 0;
            width: 100%;
            font-size: 12px;
        }
    }
    &--body {
        margin: auto;
        max-width: 800px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    &--cover {
        padding: 0px!important;
        height: 100vh;
        position: relative;
        @include flex-center;

        &-left {
            margin: auto;
        }

        &-right {
            height: 100%;
            overflow: visible;
            width: 30%;
            background: #01667d;
        }
        h1 {
            color: #00be6e;
        }
    }
}

@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
        line-height: 1.3;
        padding: 0!important;
    }
    .print--body{
        padding: 0!important;
        box-shadow: none!important;
        border: 0px !important;
    }
    .page-break {
        clear: both;
        page-break-after: always;
    }
    .apexcharts-menu-icon{
        display: none;
    }
    .print--button{
        display: none!important;
    }
    .v-application .d-lg-flex{
        display: none!important;
    }
    .navbar{
        display: none!important;
    }
}
